<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <!-- Import JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Import the JavaScript script -->
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
    <!-- Your HTML content here -->

    <div class="filters">
        <h2>Filters</h2>
        <ul class="amenities">
            <!-- Example checkbox for an amenity -->
            <li>
                <input type="checkbox" data-id="amenity_id" data-name="amenity_name"> Amenity Name
            </li>
            <!-- Add more amenity checkboxes here -->
        </ul>
    </div>
    <!-- Rest of your HTML content here -->
</body>
</html>
